/* .test {
    background-color: aqua;
} */

@font-face{
    font-family: "Avenir";
    src:url(/assets/fonts/AvenirLTProMedium.otf)
}

@font-face{
    font-family: "Yeysk";
    src:url(/assets/fonts/YeyskRegular-JzaM.otf)
}

.blogtitle{
    font-family: "Yeysk";
    /* background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(173, 22, 203), rgb(0, 0, 0)); */
    background: -webkit-linear-gradient(rgb(153, 235, 199), rgb(166, 241, 160), rgb(202, 246, 206));
    background-clip: text;
    -webkit-text-fill-color: transparent;    
}
html{
    min-height: 100vh;
}

.post-size{
    min-height: 100vh;

}

body{
    font-family: "Avenir";
    color: rgb(229, 255, 192);
    /* background-image: linear-gradient(rgb(184, 255, 181),rgb(128, 241, 185)); */
    background-image: linear-gradient(rgb(28, 31, 28), rgb(59, 76, 73) ,rgb(100, 148, 126));
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    border-style: solid;
    color: rgb(164, 224, 163);
}


.headerlist{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}

ul{
   display: flex;
}

ul a, .intro-link{
    text-decoration: none;
    color: rgb(192, 246, 163);
}

ul a:hover{
    text-decoration: none;
    color: rgb(59, 255, 154);
}

.about-section{
    display: block;
    align-items: left;
}

.about-section p {
    display: block;
    padding-left: 0px;
    align-items: left;
}
.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.intro-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border:  solid;
    border-radius: 3em;
    width: 15em;
    margin: 1.1em;
    align-items: center;
    background-image: linear-gradient(rgb(100, 148, 126), rgb(59, 76, 73) ,rgb(28, 31, 28));
}

.intro-text h3, .intro-text p {
    display: flex;
    justify-content: center;
    color: rgb(219, 255, 209);
    padding-right: 0.7em;
    padding-left: 0.7em;

}

.intro-text p{
    height: 8em;
    padding-bottom: 2em;
}

.intro-text:hover{
    width: 15.3em;
    height: 30.5em;
    color: rgb(192, 229, 182);
    background-image: linear-gradient(rgb(119, 174, 149), rgb(68, 95, 90) ,rgb(28, 34, 28));
}

.intro-text-logo{
    width: 75%;
    display: flex;
    justify-content: center;
    border: none;
    padding-bottom: 2em;
}

.smlogo-wrapper{
    display: flex;

}

.smlogo{
    width: 5.5em;
    height: 5.5em;
    margin-right: 8px;
    border: none;
}

.smlogo:hover{
    width: 6em;
    height: 6em;
}

.bloglink{
    list-style-type: none;
}

.post-chunk{
    display: flex;
    flex-wrap: wrap;
}

.post-card{
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 8px;
    width: 15em;
    height: 15em;
    color: rgb(17, 58, 67);
    /* background-color: rgb(187, 255, 198); */
    /* background-image: linear-gradient(rgb(164, 253, 169), rgb(28, 207, 123) ,rgb(76, 233, 107)); */
    background-image: linear-gradient(rgb(180, 248, 183), rgb(136, 242, 168),rgb(81, 238, 196));
}

.post-card:hover{
    opacity: 90%;
}

.blogpost-itself{
    min-height: 50em;
}

.post-img{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: fit-content;
    margin-bottom: 15px;
    border: none;
}

.post-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title-content{
    padding-left: 15%;
    padding-right: 15%;
}

.content-wrapper{
    padding-left: 15%;
    padding-right: 15%;
}

.content {
    word-wrap: break-word;
    line-height: 1.5;
}

p img{
    max-width: 60em;
    max-height: 40em;
    width: auto;
    border: solid;
    border-width: thin;
}